[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
markupsafe = "*"
python-liquid = "*"

[dev-packages]
black = "*"
pylint = "*"
flake8 = "*"
coverage = "*"
rstcheck = "*"
docutils = "*"
flake8-bugbear = "*"
twine = "*"
ipython = "*"
mypy = "*"
types-python-dateutil = "*"
types-markupsafe = "*"
pytest = "*"
tox = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
